<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 200px;
        }
        #form {
            display: flex;
            flex-direction: column;
            width: 250px;
        }
        .item {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form action="/login" method="POST" id="form">
            <input type="text" name="username" placeholder="username" class="item"/>
            <input type="password" name="password" placeholder="password" class="item"/>
            <button type="submit" class="item">Login</button>
        </form>
    </div>
</body>
</html>